@(milestone: Option[model.milestones.MilestoneMaster],projectId :Int,user1 : Option[model.user.UserMaster],tab : String)

@import common._
@main(title = "Edit Milestone",user = user1,tabName = tab){
<div class="container">
<h2>Edit Milestone</h2>

    <div class="col-md-6">
    <form class="form-horizontal"  action="@routes.MilestoneController.saveMilestone(milestone.get.id)" method="post">
        <div class="form-group">
        <label class="col-sm-3 control-label">Title</label>
            <div class="col-sm-9">
            <input class="form-control" type="text" maxlength="500" name="title" value="@milestone.get.title" required="true">
            </div>
        </div>
        <div class="form-group">
        <label class="col-sm-3 control-label">Description</label>
            <div class="col-sm-9">
            <textarea class="form-control" maxlength="500" rows="2" cols="3" name="description">@milestone.get.desc</textarea>
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-3 control-label">Status </label>
        <div class="col-sm-9">
            <select name="status" class="form-control">
            @milestone.get.status match {
                case 1 => {
                    <option value=1 selected>Pending</option>
                    <option value=2>Completed</option>
                }
                case 2 => {
                    <option value=1 >Pending</option>
                    <option value=2 selected>Completed</option>

                }
            }

        </select>
        </div>
    </div>
        <div class="form-group">
        <lable class="col-sm-3 control-label"><strong>Amount</strong></lable>
            <div class="col-sm-9">
        <input class="form-control" type="number" name="cost" value="@milestone.get.cost"  required="true" step="any" min="0" pattern="^[-+]?[0-9]*\.?[0-9]+$" title="Should be decimal/numeric value">
            </div>
        </div>

        <div class="form-group">
            <lable  class="col-sm-3 control-label"><strong>Estimated Completion Date</strong></lable>
            <div class="col-sm-9">
                <input type="datetime" id="estimated_date" name="estimated_completion_date" required="true" class="form-control"  value=@DateUtils.formatDateIntoString(milestone.get.estimated_completion_date)>
            </div>
        </div>
        <div class="form-group">
            <lable  class="col-sm-3 control-label"><strong>Actual Completion Date</strong></lable>
            <div class="col-sm-9">
                <input type="datetime" id="actual_date" name="actual_completion_date" required="true" class="form-control"  value=@DateUtils.formatDateIntoString(milestone.get.actual_completion_date)>
            </div>
        </div>

        <div class="form-group">
            <div class="col-sm-offset-3 col-sm-9">
        <input type="hidden" name="projectId" value=@projectId>
        <button type="submit" class="btn btn-success">Submit</button>
        <a href="@routes.ProjectsController.getProject(projectId)"><button type="button" class="btn btn-primary">Cancel</button></a>
            </div>
        </div>
    </form>
    </div>

</div>
}
<script>

    $('#estimated_date').datetimepicker({
        timepicker:false,
        format:'m/d/y',
        formatDate:'m/d/Y',
        minDate:'-1970/01/02' // yesterday is minimum date
        //maxDate:'+1970/01/02' // and tommorow is maximum date calendar
    });

    $('#actual_date').datetimepicker({
        timepicker:false,
        format:'m/d/y',
        formatDate:'m/d/Y',
        minDate:'-1970/01/02' // yesterday is minimum date
        //maxDate:'+1970/01/02' // and tommorow is maximum date calendar
    });



</script>
